body{
    background-color:rgb(65, 57, 51);
}
a{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: background-color 0.25s;
}
a:hover{
    background-color: chocolate;
}
#disableMotor{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: chocolate;
    cursor: pointer;
    transition: background-color 0.25s;
}
#disableMotor:hover{
    background-color: brown;
}
p{
    color:chocolate;
}
.split{
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 3%;
}
.left{
    left: 0;
    width: 70%;
    padding-left: 2%;
    height: 100%;
    
}
.right{
    right: 0;
    width: 30%;
    height: 100%;
    background-color: rgb(41, 35, 31);
    padding-left: 3%;
}
.right_inside{
    background-color: rgb(65, 57, 51);
    margin-right:10%;
    min-height:92%;
    padding: 4%;
    border-radius: 25px;
}
.slider{
    width: 100%;
}

.container{
    display:grid;
    margin-right:10%;
    align-items:center;
    grid-template-columns: 2fr 1fr;
    column-gap: 5px;
    min-height:70%;
}
.motor_text{
    max-width:30px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-weight: bolder;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.small_text{
    font-family: Arial, Helvetica, sans-serif;
    color:chocolate;
    font-size:1.25em;
}
.black{
    margin:0%;
    color:black;
    padding-bottom:5%;
}
.window{
    margin-left:0%;
    background-color: rgb(41, 35, 31);
    width:70%;
    height:90%;
    border-radius: 25px;
}
.robot_arm{
    width: 40px;
    height:8px;
    transform-origin: 100%;
    transform:rotate(0deg);
}


